 .choice h2{
    margin-left: 400px;
    color: #FFFFFF;
}
.imageSlider{
    font-family: 'Courgette', cursive;
    font-size: 30px;
}
.imageSlider p:hover{
    color: #2C9FAB;
   
    
}

.para h2{
    margin-left: 190vh;
}






