
::-webkit-scrollbar {
    width: 10px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #888;

}

::-webkit-scroll {
    background-color: #FFFFFF;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    /* background-color: #FFFFFF; */
}

.navbar.sticky {
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;

}

.navbar .logo {
    padding-left: 30px;
}

.navbar .menu-list {
    display: inline-flex;
    margin-right: 20px;
    padding-right: 120px;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #0A568C;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #2C9FAB;
}

.icon {
    /* color: #fff; */
    color: #8B8C8C;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}


/*   */
@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 60%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 40px;

        /* text-align: center; */
        background: #1D1A25;


        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        color: #E4E3E4;
        border-bottom: 2px solid #fff;
        padding-bottom: 10px;

    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
    .icon{
        margin-left: 130vh;
        
    }
}

